{% extends "base.html" %}

{% block title %}
Dava Detayı
{% endblock title %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<style>
    .container {
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        .container {
            margin : 0 auto;
            margin-left: 200px; /* Sağdan 350 piksel kaydırma */
            max-width: calc(100% - 200px);
        }
    }
    .card-header, .table thead th {
        background-color: #007bff;
        color: white;
    }
    .card {
        border: 1px solid #007bff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-body ul.list-group li {
        border: none;
        font-size: 1rem;
    }
    .card-body ul.list-group li:not(:last-child) {
        border-bottom: 1px solid #dee2e6;
    }
    .card-footer {
        background-color: #f8f9fa;
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .container h1 {
        font-weight: bold;
        color: #333;
        font-size: 1.75rem;
    }
    .delete-client-btn {
        color: #dc3545;
        background: none;
        border: none;
        padding: 0 10px;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    .delete-client-btn:hover {
        color: #c82333;
    }
    .client-info-container {
        display: flex;
        align-items: center;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Dava Numarası: {{ case.case_number }}</h1>
    
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h4>Dava Bilgileri</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="client-info-container">
                        {% if case.client %}
                            <strong>Müvekkil:</strong> {{ case.client.name }} {{ case.client.surname }}

                            <form action="{% url 'remove_client_from_case' case.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="delete-client-btn" onclick="return confirm('Müvekkili davadan kaldırmak istediğinizden emin misiniz?')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        {% else %}
                        <strong>Müvekkil: </strong>
                        <p class="text-center">
                            <a style="display: inline-block; padding: 10px 15px; background-color: #f8d7da; color: #721c24; font-weight: bold; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                                <i class="fas fa-exclamation-circle"></i> Henüz ilgili bir müvekkil tanımlanmamış, müvekkil eklemek için aşağıdan müvekkil seçin.
                            </a>
                        </p>
                        
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item"><strong>Mahkeme:</strong> {{ case.court }}</li>
                
                
                <li class="list-group-item">
                    <strong>Dava Türü:</strong> <span id="case_type_display">{{ case.case_type | default_if_none:''  }}</span>
                    <button class="btn btn-primary btn-sm float-right" 
                            data-bs-toggle="modal" 
                            data-bs-target="#updateModal"
                            data-label="Dava Türü" 
                            data-name="case_type" 
                            data-value="{{ case.case_type|default_if_none:'' }}">Güncelle</button>
                </li>
                
                <li class="list-group-item">
                    <strong>Durum:</strong> <span id="status_display">{{ case.status | default_if_none:'' }}</span>
                    <button class="btn btn-primary btn-sm float-right" 
                            data-bs-toggle="modal" 
                            data-bs-target="#updateModal" 
                            data-label="Dava Durumu" 
                            data-name="status" 
                            data-value="{{ case.status|default_if_none:'' }}">Güncelle</button>
                </li>
                
                <li class="list-group-item">
                    <strong>Açıklama:</strong> <span id="description_display">{{ case.description | default_if_none:'' }}</span>
                    <button class="btn btn-primary btn-sm float-right" 
                            data-bs-toggle="modal" 
                            data-bs-target="#updateModal" 
                            data-label="Açıklama" 
                            data-name="description" 
                            data-value="{{ case.description|default_if_none:'' }}">Güncelle</button>
                </li>
                <li class="list-group-item"><strong>Oluşturulma Tarihi:</strong> {{ case.created_at }}</li>
                <li class="list-group-item"><strong>Güncellenme Tarihi:</strong> {{ case.updated_at }}</li>
            </ul>
        </div>

        {% comment %} CASE PROGRESS {% endcomment %}
        <div class="card-body">
            <h5 style="text-align: center;">Dava İlerlemesi</h5>
            <ul class="list-group">
                {% for progress in case_progress %}
                    <li class="list-group-item">{{progress.description}}</li>
                {% endfor %}
            </ul>
        </div>
        {% comment %} Notlar {% endcomment %}
        
        <div class="card-body">
            <h5 style="text-align: center;">Dava İle İlgili Notlar</h5>
            <ul class="list-group">
                {% for note in notes %}
                    <li id="note-{{ note.id }}" class="list-group-item d-flex justify-content-between align-items-center">
                        {{ note.text }}
                        {{ note.created_at }}
                        <form method="post" action="{% url 'delete_note' case_id=case.id note_id=note.id %}" style="margin: 0;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'add_note' case.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="note_text" rows="3" placeholder="Yeni not ekleyin..."></textarea>
                </div>
                <div class="form-group mt-2 text-center">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>

        {% comment %} BİLDİRİMLER {% endcomment %}

        <div class="card-body">
            <h5 style="text-align: center;">Dava İle İlgili Bildirimler</h5>
            <ul class="list-group">
                {% for notification in notifications %}
                    <li id="notification-{{ notification.id }}" class="list-group-item d-flex justify-content-between align-items-center">
                        {{ notification.text }}
                        {% if not notification.read %}
                            <button class="btn btn-sm btn-success mark-read-btn" data-id="{{ notification.id }}">Okudum</button>
                        {% else %}
                            <span class="text-muted">Okundu</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <div class="card-footer text-center">
            {% if case.client %}
                <a href="{% url 'show_client_detail' case.client.id %}" class="btn btn-primary">İlgili Müvekkilin Sayfasına Git</a>
            {% else %}
                <p class="text-center">
                    <a style="display: inline-block; padding: 10px 15px; background-color: #f8d7da; color: #721c24; font-weight: bold; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                        <i class="fas fa-exclamation-circle" style="margin-right: 8px;"></i> Henüz ilgili bir müvekkil tanımlanmamış, müvekkil eklemek için aşağıdan müvekkil seçin.
                    </a>
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <select name="client_id" id="client_select" class="form-control select2">
                            <option value="">Müvekkil seçiniz</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.name }} {{ client.surname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        
                        <button type="submit" class="btn btn-success">
                            Müvekkili Ekle
                        </button>
                </form>
                <ul>
                    <li></li>
                </ul>
                <button class="btn btn-primary " 
                                data-bs-toggle="modal" 
                                data-bs-target="#addModal"
                                data-label="Müvekkil Güncelle" 
                                data-name="client_update">
                            Yeni Müvekkil Oluştur
                        </button>
            {% endif %}
            {% comment %} bu içerik popup kısmı için {% endcomment %}
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Müvekkil Güncelle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                    </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <!-- Ana İçerik -->
                                    <div class="col-12">
                                        <div class="main-content">
                                            <div class="form-section my-5 p-4 shadow rounded bg-light">
                                                <h2 class="text-center mb-4 text-primary">Müvekkil Ekle</h2>
                                                <form method="POST" action="{% url 'add_client' %}" class="p-4">
                                                    {% csrf_token %}

                                                    <!-- İsim alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="first_name" class="form-label">İsim:</label>
                                                        <input type="text" id="first_name" name="first_name" class="form-control" required 
                                                            pattern="^[A-Za-zÇçĞğİıÖöŞşÜü\s]+$" title="İsim sadece harflerden oluşmalıdır." placeholder="İsim giriniz">
                                                    </div>

                                                    <!-- Soyisim alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="last_name" class="form-label">Soyisim:</label>
                                                        <input type="text" id="last_name" name="last_name" class="form-control" required 
                                                            pattern="^[A-Za-zÇçĞğİıÖöŞşÜü\s]+$" title="Soyisim sadece harflerden oluşmalıdır." placeholder="Soyisim giriniz">
                                                    </div>

                                                    <!-- TC Kimlik No alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="tc_no" class="form-label">TC Kimlik No:</label>
                                                        <input type="text" id="tc_no" name="tc_no" class="form-control" required 
                                                            pattern="^\d{11}$" title="TC Kimlik No 11 haneli bir sayı olmalıdır." maxlength="11" placeholder="12345678901">
                                                    </div>

                                                    <!-- Telefon numarası alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="phone" class="form-label">Telefon Numarası:</label>
                                                        <input type="tel" id="phone" name="phone" class="form-control" required 
                                                            pattern="^\+?\d{10,13}$" title="Telefon numarası geçerli bir formatta olmalıdır (örn: +905555555555 veya 05555555555)." placeholder="+905555555555">
                                                    </div>

                                                    <!-- Mail adresi alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="email" class="form-label">Mail Adresi:</label>
                                                        <input type="email" id="email" name="email" class="form-control" required placeholder="mail@example.com">
                                                    </div>

                                                    <!-- İkamet Adresi alanı -->
                                                    <div class="form-group mb-3">
                                                        <label for="address" class="form-label">İkamet Adresi:</label>
                                                        <textarea id="address" name="address" class="form-control" rows="3" required placeholder="Adres giriniz"></textarea>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Müvekkili Kaydet</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel">Alanı Güncelle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                        </div>
                        <div class="modal-body">
                            <form id="updateForm" method="POST" action="{% url 'update_case_field' case.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="field_value" class="form-label" id="field_label"></label>
                                    <input type="text" class="form-control" id="field_value" name="field_value">
                                    <input type="hidden" id="field_name" name="field_name">
                                </div>
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Müvekkil ara...",
                allowClear: true,
                width: '100%'
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll('.mark-read-btn');
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const notificationId = this.dataset.id;
        
                    fetch('/api/mark_single_notification_as_read', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': csrftoken
                        },
                        body: new URLSearchParams({ notification_id: notificationId })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            // Başarılı: Bildirimi güncelle
                            const notificationElement = document.getElementById(`notification-${notificationId}`);
                            notificationElement.classList.add('text-muted'); // Rengi gri yap
                            notificationElement.querySelector('.mark-read-btn').remove(); // Butonu kaldır
                            notificationElement.insertAdjacentHTML('beforeend', '<span class="text-muted">Okundu</span>');
                        } else {
                            console.error('Error:', data.error);
                            alert('Bildirim işaretlenirken bir hata oluştu.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Bir ağ hatası meydana geldi.');
                    });
                });
            });
        });
    
        $(document).ready(function () {
            // Modal açılırken kontrol
            $('[data-bs-toggle="modal"]').off('click').on('click', function () {
                const fieldLabel = $(this).data('label');
                const fieldName = $(this).data('name');
                const fieldValue = $(this).data('value');

                // Eğer müvekkil güncelle butonuna tıklanırsa, ekleme formunu göster
                if (fieldName === "client_update") {
                    $('#updateModalLabel').text("Müvekkil Güncelle");
                    $('#updateModal .modal-body').html($("#addClientFormTemplate").html());
                } else {
                    setModalContent(fieldLabel, fieldName, fieldValue);
                }
            });
        });
        
        // Modal içeriklerini güncelleyen fonksiyon
        function setModalContent(fieldLabel, fieldName, fieldValue) {
            document.getElementById('field_label').innerText = fieldLabel || ""; // Label güncelle
            document.getElementById('field_name').value = fieldName || ""; // Field name
            document.getElementById('field_value').value = fieldValue || ""; // Field value
        }
        </script>
    </div>
</div>
{% endblock content %}