{% extends "base.html" %}

{% block title %}
Ders Detayı
{% endblock title %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .container {
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }
    .hover-highlight tbody tr {
        background-color: white;
        transition: background-color 0.3s ease;
    }
    .hover-highlight tbody tr:hover {
        background-color: #d1ecf1;
        cursor: pointer;
    }
    .card-header, .table thead th {
        background-color: #007bff;
        color: white;
    }
    .card-footer {
        background-color: #f8f9fa;
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .container h1 {
        font-weight: bold;
        color: #333;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Ders İsmi: {{ course.0.name }}</h1>
    
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h4>Ders Bilgileri</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Durum:</strong> {{ course.0.statu }}</li>
                <li class="list-group-item"><strong>Açıklama:</strong> {{ course.0.description }}</li>
                <li class="list-group-item"><strong>Oluşturulma Tarihi:</strong> {{ course.0.created_at }}</li>
            </ul>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered shadow hover-highlight">
                <thead class="table-light">
                    <tr>
                        <th>Belge Kategorisi</th>
                        <th>Belge Adı</th>
                        <th>Belge URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in course.0.files %}
                        <tr>
                            <td>{{ document.category }}</td>
                            <td>{{ document.belge_adi }}</td>
                            <td><a href="{{ document.belge_url }}" target="_blank">Belgeyi Görüntüle</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">Henüz Belge Eklenmemiş</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
