{% extends "base.html" %}

{% block title %}
Müvekkil Detayı
{% endblock title %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .container {
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        .container {
            margin : 0 auto;
            margin-left: 200px; /* Sağdan 350 piksel kaydırma */
            max-width: calc(100% - 200px);
        }
    }
    .hover-highlight tbody tr {
        background-color: white; /* Alternatif satır rengi kaldırıldı */
        transition: background-color 0.3s ease;
    }
    .hover-highlight tbody tr:hover {
        background-color: #d1ecf1; /* Belirgin hover rengi */
        cursor: pointer;
    }
    .card-header, .table thead th {
        background-color: #007bff;
        color: white;
    }
    .card-footer {
        background-color: #f8f9fa;
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .container h1 {
        font-weight: bold;
        color: #333;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Müvekkil İsmi: {{ client.name }} {{ client.surname }}</h1>
    
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h4>Müvekkil Bilgileri</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Tc Kimlik No:</strong> {{ client.tc }}</li>
                <li class="list-group-item"><strong>Telefon:</strong> {{ client.phone }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ client.email }}</li>
                <li class="list-group-item"><strong>Anlaşma Miktarı:</strong> {{ client.agreement_amount }}</li>
                <li class="list-group-item"><strong>Alınan Miktar:</strong> {{ client.amount_received }}</li>
                <li class="list-group-item"><strong>Kalan Bakiye:</strong> {{ client.remaining_balance }}</li>
                <li class="list-group-item"><strong>Dosya Masrafları:</strong> {{ client.file_expenses }}</li>
                <li class="list-group-item"><strong>En Son SMS Tarihi:</strong> {{ client.last_sms_date }}</li>
                <li class="list-group-item"><strong>Müvekkilin Dosyaları:</strong> {{ client.files }}</li>
                <li class="list-group-item"><strong>Adresi:</strong> {{ client.address }}</li>
                <li class="list-group-item"><strong>Oluşturulma Tarihi:</strong> {{ client.created_at }}</li>
                <li class="list-group-item"><strong>Güncellenme Tarihi:</strong> {{ client.updated_at }}</li>
            </ul>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered shadow hover-highlight">
                <thead class="table-light">
                    <tr>
                        <th>Dava Numarası</th>
                        <th>Dava Tipi</th>
                        <th>Dava Durumu</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases_for_client %}
                        <tr onclick="window.location.href='/case/{{ case.id }}';">
                            <td>{{ case.case_number }}</td>
                            <td>{{ case.case_type }}</td>
                            <td>{{ case.status }}</td>
                            <td>{{ case.description }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">Henüz dava yok</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer text-center">
            <a href="{% url 'edit_client' client.id %}" class="btn btn-primary">Müvekkilin Bilgilerini Düzenle</a>
        </div>
        <div class="card-footer text-center">
            {% comment %} <a href="{% url 'edit_client' %}" class="btn btn-primary">Müvekkilin Bilgilerini Düzenle</a> {% endcomment %}
            <a href="{% url 'download_client_docx' client.id %}" class="btn btn-secondary">Word İndir</a>
            <a href="{% url 'download_client_pdf' client.id %}" class="btn btn-secondary" target="_blank">PDF İndir</a>
        </div>

    </div>
</div>
{% endblock content %}
