{% extends "base.html" %}

{% block title %}
Öğretmen Detayı
{% endblock title %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .container {
        max-width: 100%;
        margin:0px;
        padding: 0px;
    }
    .hover-highlight tbody tr {
        background-color: white; /* Alternatif satır rengi kaldırıldı */
        transition: background-color 0.3s ease;
    }
    .hover-highlight tbody tr:hover {
        background-color: #d1ecf1; /* Belirgin hover rengi */
        cursor: pointer;
    }
    .card-header, .table thead th {
        background-color:rgb(93, 94, 95);
        color: white;
    }
    .card-footer {
        background-color: #f8f9fa;
    }
    .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .container h1 {
        font-weight: 7px;
        color: #333;
        font-size:30px;
    }
     .btn-pdf-download {
        position: fixed; /* Sabit bir konumda duracak */
        bottom: 20px; /* Sayfanın altından 20px yukarıda */
        right: 20px; /* Sayfanın sağından 20px içeride */
        padding: 10px 20px;
        background-color: #28a745; /* Yeşil renk */
        color: white;
        border: none;
        border-radius: 50px; /* Yuvarlak köşeler */
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
        z-index: 1000; /* Diğer elemanların üstünde görünecek */
        transition: background-color 0.3s, transform 0.3s; /* Hover ve büyütme efekti */
    }

    .btn-pdf-download:hover {
        background-color: #218838; /* Daha koyu yeşil */
        transform: scale(1.05); /* Hafif büyütme efekti */
    }
</style>


{% comment %} pdf için {% endcomment %}
<script>
    function downloadPDF(teacherId) {
        window.location.href = `/ogretmen/${teacherId}/teacher_pdf/`;
    }
</script>



<div class="container mt-5">
    
    
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h4>{{ teacher.name }} {{ teacher.surname }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Telefon:</strong> {{ teacher.telephone }}</li>
                <li class="list-group-item"><strong>Unvan:</strong> {{ teacher.title }}</li>
                <li class="list-group-item"><strong>E-mail:</strong> {{ teacher.email }}</li>
                <li class="list-group-item"><strong>Adres:</strong> {{ teacher.adress }}</li>
                <li class="list-group-item"><strong>Açıklama:</strong> {{ teacher.description }}</li>
                {% comment %} <button class="btn btn-warning btn-sm float-right" onclick="window.location.href='{% url 'teacher_edit' teacher.id %}'">Düzenle</button> {% endcomment %}
            </ul>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered shadow hover-highlight">
                <thead class="table-light">
                    <tr>
                        <th>Ders Adı</th>
                        <th>Ders Açıklaması</th>
                        <th>Uyarı</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr onclick="window.location.href='#';">
                            <td>{{ course.name }}</td>
                            <td>{{ course.description }}</td>
                            <td>
                                {% if document.is_uploaded %}
                                    <span class="status-icon success">✔️</span>
                                {% else %}
                                    <span class="status-icon error">❌</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">Henüz Ders Yok</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <button class="btn-pdf-download" onclick="downloadPDF({{ teacher.id }})">PDF İndir</button>

        {% comment %} <div class="card-footer text-center">
            <a href="{% url 'download_client_docx' client.id %}" class="btn btn-secondary">Word İndir</a>
            <a href="{% url 'download_client_pdf' client.id %}" class="btn btn-secondary" target="_blank">PDF İndir</a>
        </div> {% endcomment %}

    </div>
</div>
{% endblock content %}
