{% extends "base.html" %}

{% block title %}Öğretmen Listesi{% endblock %}

{% block content %}
<style>
    .pdf-button-container {
        text-align: right;
        margin: 10px 20px;
    }

    .pdf-download-button {
        background-color: #4CAF50; /* Buton arka plan rengi */
        color: white; /* Buton yazı rengi */
        border: none;
        padding: 10px 15px;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .pdf-download-button:hover {
        background-color: #45a049; /* Hover arka plan rengi */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hover gölge efekti */
    }


    /* Genel Stil */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    /* Tablo Stili */
    table {
        width: 100%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    /* Sıralanabilir Sütun Stili */
    th {
        background-color:rgb(98, 100, 101);
        color: white;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s;
    }

    th:hover {
        background-color:rgb(116, 118, 120);
    }

    th a {
        color: white;
        text-decoration: none;
    }

    .sort-icon {
        font-size: 12px;
        margin-left: 5px;
        opacity: 0.7;
        transition: opacity 0.3s;
    }

    th:hover .sort-icon {
        opacity: 1;
    }


    tr:hover {
        background-color: #e0e0e0; /* Daha koyu bir gri ton */
    }
    
    /* Tıklanabilir Satırlar */
    tbody tr {
        cursor: pointer;
    }

    /* Sayfa Başına Öğe Sayısı Seçimi */
    #per_page {
        display: inline-block;
        margin: 20px;
        padding: 6px;
        border: 1px solid #ddd;
    }

    /* Sayfalama Kontrolleri */
    .pagination {
        text-align: center;
        margin-top: 20px;
    }

    .pagination a {
        color: #007bff;
        padding: 8px 16px;
        text-decoration: none;
        margin: 0 4px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .pagination a:hover {
        background-color: #007bff;
        color: white;
    }

    .pagination span {
        padding: 8px 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f1f1f1;
    }
    
</style>
<script>
    function downloadPDF() {
        window.location.href = `/ogretmen/teacher_list_pdf/`;
    }
</script>



<h2>Öğretmen Listesi</h2>

<label for="per_page">Sayfa başına:</label>
<select id="per_page" onchange="updatePerPage()">
    <option value="5" {% if per_page == 5 %}selected{% endif %}>5</option>
    <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
    <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
    <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
</select>

<!-- Client Listesi Tablosu -->
<table border="1">
    <thead>
        <tr>
            <th><a href="?sort_by=name&sort_order={% if sort_by == 'name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&per_page={{ per_page }}">Ad Soyad</a></th>
            <th><a href="?sort_by=surname&sort_order={% if sort_by == 'surname' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&per_page={{ per_page }}">Unvan</a></th>
            <th>Telefon</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in page_obj %}
            <tr onclick="window.location.href='/ogretmen/{{ teacher.id }}';">
                <td>{{ teacher  }}</td>
                <td>{{ teacher.title }}</td>
                <td>{{ teacher.telephone }}</td>
                <td>{{ teacher.mail }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">Öğretmen bulunamadı.</td>
            </tr>
        {% endfor %}
        <div class="pdf-button-container">
            <button class="pdf-download-button" onclick="downloadPDF()">PDF İndir</button>
        </div>
    </tbody>

</table>

<!-- Sayfalama Kontrolleri -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1&per_page={{ per_page }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">İlk Sayfa</a>
        <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">Önceki</a>
    {% endif %}

    <span>Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">Sonraki</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">Son Sayfa</a>
    {% endif %}
</div>


<script>
    // Kullanıcı sayfa başına gösterilecek öğe sayısını seçtiğinde sayfayı yenile
    function updatePerPage() {
        const perPage = document.getElementById('per_page').value;
        const url = new URL(window.location.href);
        url.searchParams.set('per_page', perPage);
        window.location.href = url.href;
    }
</script>
{% endblock content %}


