{% extends "base.html" %}

{% block title %}
ERP Takip
{% endblock title %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }

    .container {
        max-width: 1200px;
        margin: 10px auto;
        padding: 3px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 1.8rem;
        color:rgb(7, 7, 7);
        margin-bottom: 20px;
        text-align: center;
        
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 10px;
        font-size: 1rem;
    }

    .table th, .table td {
        padding: 12px 15px;
        border: 1px solid #dee2e6;
        text-align: left;
    }

    .table th {
        background-color: #343a40;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #e9ecef;
        cursor: pointer;
    }

    .table td {
        color: #555;
    }
</style>

<div class="container mt-4">
    <h1 class="bold">ERP Takip Özet</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Öğretmen Adı</th>
                    <th>Ders Adı</th>
                    <th>Uyarı</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    {% for course in teacher.courses %}
                        {% for document in course.documents %}
                        <tr onclick="window.location.href='{% url 'erp' %}'" style="cursor: pointer;">
                            <td>{{ teacher.name }} {{ teacher.surname }}</td>
                            <td>{{ course.name }}</td>
                            <td>
                                {% if document.is_uploaded %}
                                    <span class="status-icon success">✔️</span>
                                {% else %}
                                    <span class="status-icon error">❌</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
