{% extends "base.html" %}

{% block title %}
Pano Özet
{% endblock title %}

{% block content %}
<style>
    .container {
        margin-top: -25px;
        padding: 1rem;
        display: flex; /* Flexbox düzeni */
        flex-direction: column; /* İçerikleri dikey hizala */
        justify-content: center; /* Yatayda ortala */
        align-items: center; /* İçerikleri ortala */
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
        color: #2d3748;
        margin-bottom: 1rem;
        text-align: center;
    }

    .table-container {
        overflow-x: auto;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        max-width: 100%; /* Tüm genişliği kapsasın */
        width: 100%; /* Kapsayıcı genişliği tam ekran genişliği kadar */
    }

    .table {
        width: 100%; /* Tablo genişliği konteynerin tamamını kaplasın */
        font-size: 0.875rem;
        border-collapse: collapse;
        margin: 0 auto; /* Tabloyu kapsayıcısının içinde ortalar */
    }

    .table th {
        background-color: #4a5568;
        color: white;
        padding: 0.75rem;
        text-align: left;
    }

    .table td {
        padding: 0.75rem;
        border-bottom: 1px solid #e2e8f0;
    }

    .status-icon {
        display: inline-flex;
        align-items: center;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 500;
        font-size: 0.875rem;
        color: white;
    }

    .status-icon.success {
        background-color: #48bb78;
    }

    .status-icon.error {
        background-color: #e53e3e;
    }

    tr:hover {
        background-color: #f7fafc;
    }
</style>

<div class="container">
    <h1>Pano Takip Özet</h1> 
    <div class="table-container">
        <table class="table table-bordered table-responsive text-wrap">
            <thead>
                <tr>
                    <th>Öğretmen Adı</th>
                    <th>Ders Adı</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Yükleme Tarihi</th>
                    <th>Uyarı</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    {% for course in teacher.courses %}
                        {% for document in course.documents %}
                        <tr onclick="window.location.href='{% url 'pano' %}'" style="cursor: pointer;">
                            <td>{{ teacher.name }} {{teacher.surname}}</td>
                            <td>{{ course.name }}</td>
        
                            <td>{{ document.start_date|date:"d/m/Y" }}</td>
                            <td>{{ document.end_date|date:"d/m/Y" }}</td>
                            <td>
                                {% if document.is_uploaded %}
                                    <span type="date" name="end_date" class="form-control" value="{{ document.uploaded_at }}"></span>
                                {% else %}
                                    <span class="status-icon error">Yükleme tarihi girilmedi</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if document.is_uploaded %}
                                    <span class="status-icon success">✔️</span>
                                {% else %}
                                    <span class="status-icon error" onclick="window.location.href='{% url 'pano' %}'">❌</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
